{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
            :+default {:extra-deps {poly/example-one {:local/root "components/example-one"}}
                       :extra-paths ["components/example-one/test"]}
            :+other {:extra-deps {poly/example-two {:local/root "components/example-two"}}
                     :extra-paths ["components/example-two/test"]}
            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 ;;issue-146 branch tip:
                                 :sha       "4e58397150385cb753941b69dd6e959305ce8bad"
                                 :deps/root "projects/poly"}}}}}
